#screen {
    background: url('./assets/overworld.png');
    background-repeat: no-repeat;
    background-size: 9984px 6336px;
    background-position: -3744px -1460px;
    background-color: #000;
    image-rendering: pixelated;
}

.user-interface {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.ui-title {
    font-family: 'Press Start 2P', cursive;
}

.heart {
    width: 27px;
    height: 23px;
}
