#screen {
    background: url('./assets/overworld.png');
    background-repeat: no-repeat;
    background-size: 9984px 6336px;
    background-position: -3744px -1460px;
    background-color: #000;
}

/*  
    front standing: -29, -17
    left standing: -102, -17
    right standing: -157, -17
*/
/* #link {
    height: 45px;
    width: 35px;
    position: absolute;
    left: 222.5px;
    top: 262.5px;
    background: url('./assets/link.png');
    background-repeat: no-repeat;
    background-size: 2416px 7471px;
    background-position: -29px -17px;
    transform: none;
} */

